@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Barrio|Montserrat:700");

* {
  box-sizing: border-box;
}

body,
html {
  font-family: "Noto Sans SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  width: 100vw;
  overflow-x: hidden;
  margin-bottom: 650px;
  background: var(--cr-white);
}

::selection {
  background: #324ac0;
  text-shadow: none;
  color: white;
}

#root {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

:root {
  --cr-white: #ffffff;
  --cr-bg-1: hsl(240, 7%, 97%);
  --cr-bg-2: hsl(203, 100%, 97%);
  --cr-bg-3: hsl(203, 90%, 98%);
  --cr-icon-1: #667093;
  --cr-blue-1: #324ac0;
  --cr-blue-2: #324ac0;
  --cr-font-1: #00114b;
  --cr-font-2: #667093;
  --cr-font-3: #c7cbd5;
  --cr-line-1: hsl(230, 13%, 91%);
  --cr-line-2: hsl(230, 13%, 95%);
  --mg-200: 200px;
  --mg-180: 180px;
  --mg-160: 160px;
  --mg-140: 140px;
  --mg-120: 120px;
  --mg-100: 100px;
  --mg-80: 80px;
  --mg-56: 56px;
  --mg-40: 40px;
  --mg-32: 32px;
  --mg-24: 24px;
  --mg-16: 16px;
  --mg-8: 8px;
  --font-46: 700 46px/67px "Noto Sans SC";
  --font-32: 700 32px/46px "Noto Sans SC";
  --font-28: 500 28px/41px "Noto Sans SC";
  --font-24: 500 24px/24px "Noto Sans SC";
  --font-18: 500 18px/18px "Noto Sans SC";
  --font-16-500: 500 16px/27px "Noto Sans SC";
  --font-16-300: 300 16px/27px "Noto Sans SC";
  --font-14-500: 500 14px/14px "Noto Sans SC";
  --font-14-300: 300 14px/14px "Noto Sans SC";
  --font-12: 400 12px/20px "Noto Sans SC";
  --shadow-1: 0 2px 5px rgba(103, 110, 144, 0.2),
    0 0 0 1px rgba(103, 110, 144, 0.05);
  --shadow-2: 0 3px 7px rgba(103, 110, 144, 0.25),
    0 0 0 1px rgba(103, 110, 144, 0.08);
  --shadow-3: 0 2px 16px rgba(103, 110, 144, 0.15);
  --shadow-4: 0px -2px 12px rgba(0, 0, 0, 0.04),
    0px 100px 80px rgba(122, 124, 131, 0.09),
    0px 41.7776px 33.4221px rgba(122, 124, 131, 0.0673083),
    0px 22.3363px 17.869px rgba(122, 124, 131, 0.0590076),
    0px 12.5216px 10.0172px rgba(122, 124, 131, 0.0526212),
    0px 6.6501px 5.32008px rgba(122, 124, 131, 0.0453961),
    0px 2.76726px 2.21381px rgba(122, 124, 131, 0.0341191); //card hover
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-16: 16px;
  --radius-24: 24px;
  --radius-32: 32px;
  --ease-1: all 0.25s ease-out;
  --ease-2: all 0.15s ease-out;
  --ease-3: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
  --blend: multiply;
  --filter-1: none;
}

.darkmode {
  --cr-white: #0f0f13;
  --cr-bg-1: #1e1e25;
  --cr-bg-2: #1e1e25;
  --cr-bg-3: hsl(203, 90%, 98%);
  --cr-icon-1: #667093;
  --cr-blue-1: #3f8cff;
  --cr-blue-2: var(--cr-white);
  --cr-font-1: hsl(227, 12%, 80%);
  --cr-font-2: hsl(227, 12%, 40%);
  --cr-font-3: hsla(225, 12%, 80%, 0.3);
  --cr-line-1: hsl(220, 6%, 15%);
  --cr-line-2: hsl(230, 13%, 95%);
  --shadow-1: 0 0 0 1px rgba(211, 211, 211, 0.2);
  --shadow-2: 0 0 0 1px rgba(211, 211, 211, 0.822);
  --shadow-3: 0 2px 16px rgba(103, 110, 144, 0.15);
  --shadow-4: 0 0 0 2px rgba(211, 211, 211, 0.2);
  --blend: none;
  --filter-1: invert(1) hue-rotate(-120deg);
}
